<!DOCTYPE html>
<html>
<head>
  <title>ViralDispatch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if session["user"] %>
      <p class="pull-right"><%= link_to "Logout", logout_url %> </p>
    <% else %>
      <p class="pull-right"><%= link_to " Login with GitHub", "/auth/github/" %> </p>
    <% end %>
    <h1 class="title_link"><%= link_to "Viral Message Board", root_url %></h1>
    <div class="navbar">
      <div class="rounded navbar-inner dark-grey">
        <%= link_to raw("<i class='icon-edit'></i> Post"), new_post_path, :class => "btn" %>
      </div>
    </div>
    <%= render :partial => "layouts/message" unless flash.keys.empty? %>
    <%= yield %>
  </div>
</body>
</html>
